<fieldset id="billing">
  <p>
    After order confirmation you'll be redirected to CCAvenue Payment Gateway. After completing the
    payment form you'll be back to the store.
  </p>

  <%= link_to(image_tag('http://www.ccavenue.com/images/460.gif'), gateway_ccavenue_path(order_id: @order.number, payment_method_id: payment_method.id), :method => :post, :id => 'ccavenue_button') %>

  <script type="text/javascript">
    $(function() {
      var spreePaymentRadio = $("#checkout_form_payment input:radio")

      var hideCheckoutButtonForCCAvenue = function() {
        if ($("#checkout_form_payment input:radio:checked").val() == <%= payment_method.id %>) {
          $("#checkout_form_payment .form-buttons").hide();
        } else {
          $("#checkout_form_payment .form-buttons").show();
        }
      }

      spreePaymentRadio.change(function() {
        hideCheckoutButtonForCCAvenue();
      });

      hideCheckoutButtonForCCAvenue();
    });
  </script>
</fieldset>
